/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #4dd19c;
}

.btn-primary {
  color: #fff;
  background-color: #4dd19c;
  border-color: #154a35;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #4dd19c;
  border-color: #154a35;
}


html {
  font-size: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
  }
}

.border-top {
  border-top: 1.5px solid #c274cf;
}
.border-bottom {
  border-bottom: 1.5px solid #c274cf;
}

.box-shadow {
  box-shadow: 0 .30rem .65rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1.2rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; 
}
.text-center
{
  background-color: rgba(4, 30, 59, 0.07);
  background-size: cover;
}
.display-3
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 500;
}
